<% if user_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

<div class="container" style="padding-top:2%; width:97%;font-size:12px;">
<h1>Financial Reporting</h1>

  <%= simple_form_for :transaction, url: export_excel_transactions_path, input_html: { id: 'date_search', class: 'form-horizontal' } do |f| %>
    <%= f.input :start_date, as: :string, input_html: { class: 'datepicker', value: DateTime.now.strftime("%m/%d/%Y") } %>
    <%= f.input :end_date, as: :string, input_html: { class: 'datepicker', value: DateTime.now.strftime("%m/%d/%Y") } %>
    <%= button_tag 'Export Excel Date Range' %>
  <% end %>
  
<ul>
  <li><%= link_to "Export All", transactions_path(format: 'xls') %></li>
</ul>
  
<%= render 'refills/tabs' %>

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

<script>
  $('.datepicker').datepicker();
  
  $('#transaction_start_date').change(function(){
    $.post(  "<%= search_date_transactions_path %>.js", {transactions: { start_date: $('#transaction_start_date').val(), end_date: $('#transaction_end_date').val() } })
  });
  
  $('#transaction_end_date').change(function(){
    $.post(  "<%= search_date_transactions_path %>", {transactions: { start_date: $('#transaction_start_date').val(), end_date: $('#transaction_end_date').val() } })
  });
  
  $('#export_date_range').click(function(){
    $.post(  "<%= search_date_transactions_path %>.xls", {transactions: { start_date: $('#start_date').val(), end_date: $('#end_date').val() } })
  });
</script>
  
  
</div>  